* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gallery-highlight {
    width: 80%;
    height: 50%;
}

section {
    display: flex;
    height: 100vh;
}

.room-gallery {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.room-description h1 {
    font-size: 60px;
}

.room-description p {
    font-family: sans-serif;
}

.room-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5cdaa;
}

.room-preview {
    display: flex;
    width: 80%;
    border-top: 4px solid white;
}


.room-preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.room-active {
    opacity: 1;
}
