@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  background-color: #0A2344;
  font-family: 'rubik', sans-serif;
}

h1 {
  text-align: center;
}

.accordion {
  width: 800px;
  margin: 90px auto;
  color: #333;
  background-color: white;
  padding: 45px 45px;
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
}
  
.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

.accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
}

.accordion hr {
    width: 100%;
    margin-left: 0;
    border: none;
    border-bottom: 1px solid grey;
}

.accordion .container.active .content {
    height: 150px;
}

.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
}