* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo path {
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;

    animation: line-anim 2s ease forwards 0.3s;
}

@keyframes line-anim {
    to {
	stroke-dashoffset: 0;
    }
}
