* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    background-color: #3E57DB;
    padding: 20px 20px;
    width: 300px;
    height: 160px;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.1rem;   
    margin: 5px auto;
}

p {
    font-size: 0.8rem;
    opacity: 0.8;
    margin: 5px auto;
}

input {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    margin: 15px auto;
    width: 100%;
    border: none;
    outline: none;
}

body {
    background-color: #F8F9FD;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
