* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}




header {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin-top: 30px;
    font-size: 44px;
    text-align: center;
}

header p {
    margin: 10px 0 40px 0;
    text-align: center;
    
}

header .info {
    color: #ccc;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
}

.social-links {
    position: absolute;
    bottom: 0;
}

form .text {
    width: 200px;
    padding: 15px 20px;
    border: none;
    background: #f4f6f6;
    outline-style: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

    
}

form .text::placeholder {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 600;
    color: #ccc;

}

form .btn {
    font-size: 12px;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    background: #f54291;
    font-weight: 600;
    color: #fff;
}

form {
    display: flex;
    border-radius: 50px;    
    overflow: hidden;


}




.animation svg .diamond {
  animation: pulse 1.8s infinite;  
  transform-origin: 20% 20%;
} 


@keyframes pulse {
    0% {
	transform: scale(0.9);
	opacity: 0.5;
    }
    
    70% {
	transform: scale(1);
	opacity: 0.9;
    }

    100% {
	transform: scale(0.9);
	opacity: 0.5;

    }
}




footer p {
  display: flex;
  align-items: center;
}

footer svg {
    padding-left: 10px;
}
