* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.image-container {
    height: 360px;
    width: 640px;
    position: relative;
}

.image-container img {
    height: 100%;
    width: 100%;

}

.transition-image {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.transition-image:hover {
    opacity: 1;
}


.fade::after {
    content: "Photo by Pixabay from Pexels";
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;

}

.fade:hover::after {
    opacity: 0.5;
    
    
}
