* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    background-image: url(./omsz920.jpg);
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(100px);
}

a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    opacity: 0.3;
}

h1 {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;

}



body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
