body {
    font-family: 'Muli', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 120px 0 0 50px;
    font-size: 4rem;
}

.intro {
    display: flex;
    height: 100vh;
    background: url("https://images.pexels.com/photos/196646/pexels-photo-196646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}

.typing {
    margin-left: 15px;
    position: relative;
}

.typing::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 4rem;
    border-right: 3px solid black;
    animation: blink 0.5s infinite ease;
}


@keyframes blink {
    0% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}
